body {
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
    background: #F9F9F9;
    color: #333;
}

.header {
    text-align: center;
    padding: 3rem 1rem;
    background: #fff;
    border-bottom: 2px solid #eee;
}

.profile-img {
    width: 140px;
    height: 140px;
    border-radius: 50%;
}

h1 {
    margin: .5rem 0;
    font-size: 2rem;
}

.intro, .interests, .profile, .education, .work-experience, .Program, .Awards, .Paper, .Project, .certificates {
    max-width: 1000px;
    margin: 2rem auto;
    padding: 0 1rem;
}

.footer {
    text-align: center;
    padding: 1rem;
    background: #fff;
    border-top: 2px solid #eee;
}

a {
    text-decoration: none;
    color: #0066CC;
}
a:hover {
    text-decoration: underline;
}

.github-btn {
    display: inline-block;
    padding: 10px 16px;
    background: #24292e;
    color: white;
    border-radius: 6px;
    text-decoration: none;
    font-weight: 600;
}

.github-btn:hover {
    background: #000;
}